---
- name: Install Apache/Nginx and copy index.html
  hosts: all
  become: true
  tasks:
    - name: Install Apache/Nginx
      apt:
        name: "{{ item }}"
        state: present
      with_items:
        - apache2
        - nginx

    - name: Copy index.html
      copy:
        src: index.html
        dest: /var/www/html/index.html
