---
- name: Copy index.html to remote server
  hosts: your_vm_hostname
  tasks:
    - name: Copy index.html to remote server
      copy:
        src: /path/to/local/index.html
        dest: /var/www/html/index.html
