---
- name: Install Apache and copy index.html
  hosts: linux
  become: true
  tasks:
    - name: Install Apache
      apt:
        name: "{{ item }}"
        state: present
      with_items:
        - apache2

    - name: Copy index.html
      copy:
        src: index.html
        dest: /var/www/html/index.html
