---
- name: Deploy web server
  hosts: all
  become: true
  tasks:
    - name: Install Apache web server
      apt: name=apache2 state=present
    - name: Copy index.html file
      copy:
        src: index.html
        dest: /var/www/html/
